host    all             all             172.16.10.0/24          scram-sha-256
host    replication     replicator      172.16.10.31/32         scram-sha-256
host    replication     fm_replicator   172.16.10.0/24          scram-sha-256
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256
